.top-banner {

    background-image: url(images/donation6.jpg);
    background-size: 100% 400%;
    background-repeat: no-repeat;
    color: aliceblue;
    text-shadow: rgb(12, 18, 21) 0px 0px 2px;
    text-align: center;
    padding-top: 180px;
    padding-bottom: 180px;
    margin-bottom: 100px;
}

.top-banner h1 {
    font-size: 70px;
}



body {

    font-family: 'Poppins', sans-serif;
    margin: 0;
}

.donate-today {
    text-align: center;

}

.donate-today h1 {
    font-size: 45px;
    font-weight: 900;
}


.container div {
    float: left;
    width: 180px;
    height: 160px;
    background-color: white;
    margin: 40px;

}

#box2 {

    margin-left: 30px;
    margin-right: 30px;
    border-color: aqua;
}

.button {
    background-color: #3108c8;
    color: aliceblue;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    position: center;
    font-weight: 700;
    padding: 10px 30px;
    size: 90px;

}

.d {
    text-align: center;
    display: inline-block;
}